@keyframes fadeInAnimation3 {
  0% {
    transform: translateX(5rem);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.fadeanimate3{
  animation: fadeInAnimation3 0.5s ease-in-out forwards;
  opacity: 1;
}